# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# CUDA build artifacts
*.o
*.out
*.exe

# Logs and outputs
*.log
outputs/

contexts.txt
conversation_summary.txt

# Data folders




# Virtual environments
.env/
.venv/
env/
venv/

# VS Code settings
.vscode/